html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 10px;
}

a {
	color: #2FBAF6;
}

.jumbotron {
	padding: 20px;
	border-radius: 10px;
}

body>div>div.row {
	margin: 0;
}

.row {
    margin: 0;
}

.navbar img {
    width: 30px;
}

.modal {
    display: block;
}

.modal img {
    width: 50px;
}

.list-group img {
    max-height: 100%;
    display: inline-block;
    vertical-align: text-bottom;
    float: left;
}

.list-group h4 {
    display: inline-block;
    float: right;
}

.list-group a {
    height: 100px;
}

.request {
    border-bottom: 1px solid dimgray;
}

#search {
    position: relative;
}

#search-results {
    position: absolute;
    top: 50px;
    right: 25px;
}

#search-results li {
    padding: 0;
}

#search-results li p {
    text-align: center;
    margin-top: 5px;
}

.friend-img {
    max-width: 100px;
}

#friend-name {
    float: right;
}

#friend-container {
    width: 100%;
    height: 100%;
    word-break: break-all;
}

#friend-container>div {
    float: left;
}

#friend-container>h4 {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

td:hover {
    background-color: #cccccc;
}

#message-input img {
    width: 30px;
}

div.wall-header {
    position: relative;
    margin-top: -20px !important;
    margin-bottom: 15px !important;
}

.wall-header>div {
    position: absolute;
    width: 600px;
    top: 50px;
    left: 150px;
}

.wall-header>img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 250px;
}

.wall-header>div>img {
    object-fit: cover;
    overflow: hidden;
    width: 250px;
    height: 250px;
    float: left;
}

.wall-header>div>div {
    float: left;
    margin-left: 30px;
    padding-top: 30px;
}

.wall-header>div>div>h3 {
    color: white;
    font-size: 30px;
}

.wall-header>div>div>button {
    font-size: 20px;
}

.news-feed {
    font-size: 18px;
}

.news-feed>div>div {
    font-size: 16px;
}

.news-feed>.panel-footer {
    font-size: 16px;
}

.news-feed>.panel-footer>div {
    text-align: right;
}

.news-feed img {
    float: left;
    margin-right: 10px;
}

.news-feed-comment a {
    color: #191970;
}

.news-feed-comment>div>div>span {
    color: #3c763d;
}

.submit-comment-btn {
    margin-top: 37px;
}

.delete-post-btn {
    margin: 5px;
}

.edit-post-btn {
    margin: 5px;
}

.hover-parent {
    position: relative;
}

.user-hover {
    position: absolute;
    top: 20px;
    left: 35px;
}

.user-hover>div>span {
    word-break: break-all;
}

.hover-heading>span {
    font-size: 16px;
    color: #080808;
}

.panel {
    word-break: break-all;
}